<h1>Welcome to GA</h1>
<h2>Visit us anytime 1617 Broadway</h2>
<img src="<%= @url %>" alt="GA"><br><br><br><br><br>
<h2>The weather is <%= @weather["weather"][0]["description"] %> in Santa Monica, at the moment.</h2>
<br><br>
<footer>&copy; 2015 Ian Poston | <a href="http://www.ianposton.com">Home</a></footer>
<br>